<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      You've been assigned as the PM of a serial register item.
      You can view this item <%= link_to "here", stock_path(@stock) %>
    </p>
    <p>
      To Login to Enerserial simply follow this link <%= @url %>.
    </p>
  </body>
</html>
