<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to EnerSerial, <%= @user.email %></h1>
    <p>
      Body Text goes here.
    </p>
    <p>
      To Login to Enerserial simply follow this link <%= @url %>.
    </p>
  </body>
</html>
