<table border="1">
  <tr>
    <th>SerialNumber</th>
    <th>JobNumber</th>
    <th>Customer</th>
    <th>Detail</th>
  </tr>
  <% @stocks.each do |stock| %>
    <tr>
      <td><%= format_serial(stock) %></td>
      <td><%= check_job(stock) %></td>
      <td>
        <% if stock.job != nil && stock.job.customer != nil %>
          <%= stock.job.customer.name %>
        <% end %>
      </td>
      <td><%= stock.detail %></td>
    </tr>
  <% end %>
</table>
