<div class="page-header">
  <h3>Import a CSV File</h3>
</div>
<div class="container">
  <%= form_tag import_stocks_path, multipart: true do %>
    <p>To convert the existing serial register simply convert the existing sheets into csv files then replace the header row with the below before importing.<br>
      <font size ="1">serial_number,job_id,engine,engine_type,engine_serial,alternator,alternator_type,alternator_serial,detail,customer,status_detail,gesan_number,ppsr</font>
    </p>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV", class: "btn btn-sm btn-success" %>
  <% end %>
</div>
