<p>
  <strong>Alternator:</strong>
  <%= @alternator.alternator %>
</p>

<p>
  <strong>Type:</strong>
  <%= @alternator.alternator_type %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @alternator.serial %>
</p>
