<div class="page-header">
  <h1>Listing All Items</h1>
</div>

<div class="content">
  <%= render 'items' %>
  <br>
  <div class="btn-group">
    <%= link_to 'Create Item as Floor Stock', new_floor_item_path, class: "btn btn-sm btn-success" %>
  </div><br>
  <% if user_signed_in? %>
    <div class="btn-group">
      <%= link_to 'Show Floor Stock Items', items_floor_stock_path, class: "btn btn-sm btn-primary" %>
      <%= link_to 'Stock', stocks_path, class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</div>
